!!! 5
html
    head
        title WebNote 2.0
        // TODO SEO相关
        <meta property="qc:admins" content="7016712662674563741676177" />
        link(rel='stylesheet', href='/resources/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/resources/stylesheets/index.css')
    body(style="padding-top: 0px;")
        include ../widget/index_header
        block content

        include ../widget/footer
        script(src='/resources/javascripts/jquery.min.js')
        script(src='/resources/javascripts/bootstrap.min.js')
        script(src='/resources/javascripts/page/index.js')
        // TODO 专有js

