!!! 5
html
    head
        title WebNote 2.0
        // TODO SEO相关
        link(rel='stylesheet', href='/resources/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/resources/stylesheets/style.css')
    body(style="padding-top: 0px;")
        include ../widget/header
        block content
        include ../widget/footer
        script(src='/resources/javascripts/jquery.min.js')
        script(src='/resources/javascripts/bootstrap.min.js')
        script(src='/resources/javascripts/page/all.js')
        // TODO 专有js
        include ../widget/pagejs
