.img-upload {
    border: 1px solid #3E9075;
    border-style: dashed;
    padding: 20px;
    height: 400px;
    margin-top: 30px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 10px #000000;
}

input.tags-input.input-lg {
    height: 30px;
}

.tag.label.lg {
    background-color: #ABABAB;
    color: #FFF;
}

#my-editormd {
    z-index: 1;
}

/*----*/

canvas#codeFlow {
    max-width: 100%;
    max-height: 30% !important;
    display: block;
}

header {
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    height: 120px;
    padding-top: 15px;
}

header > h1 {
    font-size: 52px;
    font-weight: 300;
    font-family: "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif;
    margin: 0;
    color: #83738D;
}

header > div {
    font-size: 20px;
    font-family: Cambria, Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif;
    color: #9B9B9B;
}

.workflow:nth-child(odd) {
    background-color: #eee;
}

.row.workflow.header {
    background: #f5f5f5;
}

.workflow {
    padding: 5px 0px;
    position: relative;
}

hr.cut-line {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #4062A3;
}

.show-all, .show-again, .initArticle {
    text-align: center;
    position: fixed;
    bottom: 70px;
    width: 100%;
}

.form-group > .btn {
    margin-right: 10px;
}

.form-group > .btn > span.glyphicon {
    margin-right: 5px;
}

footer {
    /*position: fixed;*/
    /*bottom: 0px;*/
    width: 100%;
}

.footer-center {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.add-container, .user-welcome {
    width: 960px;
    margin: 0 auto;
}

.user-welcome > p {
    margin: 0;
    text-align: left;
    font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #FFF;
    text-shadow: 0px 0px 6px #000000;
}

.user-welcome > p > a {
    color: #FFF;
}

.change-time .label {
    position: absolute;
    right: 30px;
    top: -8px;
}

/*
 * css 自定义 很多列
 */
.my_workflows > .workflow div {
    float: left;
    min-height: 1px;
}

.my_workflows_title > .workflow div {
    float: left;
}

.project-name, .change-time {
    width: 140px;
}

.sender, .leading_official {
    width: 80px;
}

.type {
    width: 70px;
}

.change_info, .influence {
    min-width: 200px;
    width: -webkit-calc(50% - 255px);
    width: calc(50% - 255px);
    padding-right: 10px;
}

.nav-redline li {
    float: left;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff !important;
}

.nav-redline .active {
    border-bottom: 2px solid #F00;
}

.login-box {
    margin-top: 150px;
    border: 1px solid #E7DDDD;
    padding: 31px;
    box-shadow: 0px 0px 13px #888888;
    background-color: #FFF;
}