<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 数据库连接验证详细信息 -->
    <properties resource="db.properties"/>
    <!--<properties resource="db_local.properties"/>-->


    <!-- 事务管理和连接池的环境配置 -->
    <!-- environments有开发模式和生产模式 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务类型 -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
                <!-- 等待时间 1小时: 3600000 = 1*60*60*1000ms-->
                <property name="poolPingConnectionsNotUsedFor" value="3600000"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 一组 mapper 映射器（这些 mapper的 XML 文件包含了 SQL 代码和映射定义信息） -->
    <mappers>
        <mapper class="com.roc.webnote.repository.mapper.UserMapper"/>
        <mapper class="com.roc.webnote.repository.mapper.ArticleMapper"/>
        <mapper class="com.roc.webnote.repository.mapper.SocialMapper"/>
    </mappers>
</configuration>