header.navbar.navbar-default.navbar-fixed-top(style="opacity: 0.9;")
    .container
        .navbar-header
            a.navbar-brand(href="/",style="color: #000;") WebNote
        .collapse.navbar-collapse
            p.navbar-text 力争做一个优雅的Markdown编辑器
            ul.nav.navbar-nav.navbar-right
                button.btn.navbar-btn.btn-primary.initArticle 写文章
                a.btn.navbar-btn.btn-default(href="/") 我的首页
                button.btn.navbar-btn.btn-default.logout 退出