header.navbar.navbar-default.navbar-fixed-top(style="opacity: 0.9;")
    .container
        .navbar-header
            a.navbar-brand(href="/",style="color: #000;") WebNote
        .collapse.navbar-collapse
            p.navbar-text 力争做一个优雅的Markdown编辑器
            ul.nav.navbar-nav.navbar-right
                button.btn.navbar-btn.btn-primary(data-toggle="modal",data-target="#loginModal",style="margin-right: 10px;") 登录
                button.btn.navbar-btn.btn-default 注册