extends layout/normal_layout
block content
    .container(style="padding-top: 70px")
        .row
            .col-xs-12
                .list-group.articles
                    if articles.size() > 0
                        each article, i in articles
                            a.list-group-item(href="/article/#{article.code}")
                                div
                                    h4.list-group-item-heading #{article.title}
                                    if (article.content || "" != article.content || article.content == null)
                                        .content
                                            !{article.contentView}
                                    time.timeago(datetime="#{article.createTimeView}")
                    else
                        .createArticleInfo
                            .alert.alert-info.alert-dismissible(role='alert')
                                button.close(type='button', data-dismiss='alert', aria-label='Close')
                                    span(aria-hidden='true') ×
                                strong Hey!
                                |  你还没有一篇文章,请创建一个吧...
                            button.btn.btn-lg.btn-primary.initArticle 写文章