!!! 5
html
    head
        meta(property="qc:admins",content="7016712662674563741676177")
        title= title
        link(rel='stylesheet', href='/resources/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/resources/stylesheets/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet', href='/resources/stylesheets/editormd.min.css')
        link(rel='stylesheet', href='http://maxwells.github.io/assets/bootstrap-tags/css/bootstrap-tags.css')
        link(rel='stylesheet', href='/resources/stylesheets/style.css')
    body
        block content

        script(src='/resources/javascripts/socket.io-1.3.5.js')
        script(src='/resources/javascripts/jquery.min.js')
        script(src='/resources/javascripts/jquery.cookie.js')
        script(src='/resources/javascripts/bootstrap.min.js')
        script(src='/resources/javascripts/moment-with-locales.js')
        script(src='/resources/javascripts/bootstrap-datetimepicker.min.js')
        script(src='/resources/javascripts/editormd.min.js')
        script(src='http://maxwells.github.io/assets/bootstrap-tags/js/bootstrap-tags.js')
        script(src='/resources/javascripts/page/all.js')



        //script(src='/resources/javascripts/page/#{js}.js')
